streamlit>=1.38.0
pandas>=2.2.2
numpy<2
pyyaml>=6.0.2
requests>=2.32.3
tqdm>=4.66.5
rank-bm25>=0.2.2
faiss-cpu>=1.8.0.post1
sentence-transformers>=3.0.1
transformers>=4.44.2
torch>=2.3.1
accelerate>=0.33.0
scikit-learn>=1.5.1
ragas>=0.1.20
datasets>=2.21.0
langchain>=0.2.14
langchain-community>=0.2.12
langchain-huggingface>=0.0.3
openpyxl>=3.1.5
wandb>=0.17.8
